<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>笔灵</string>
	<key>CFBundleExecutable</key>
	<string>BiLingApp</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.biling.inputmethod.BiLing</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>笔灵</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.3.0</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.biling.inputmethod.BiLing.Hans</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.biling.inputmethod.BiLing.Hans</string>
				<key>TISIntendedLanguage</key>
				<string>zh-Hans</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>AppIcon.icns</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hans</string>
				</array>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>AppIcon.icns</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>AppIcon.icns</string>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smSimpChinese</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.biling.inputmethod.BiLing.Hans</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>com.biling.inputmethod.BiLing_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>BiLingApp.BiLingInputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>BiLingApp.BiLingInputController</string>
	<key>LSBackgroundOnly</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 BiLing contributors. Qwen model licensed under Apache-2.0.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TISInputSourceID</key>
	<string>com.biling.inputmethod.BiLing</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hans</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hans</string>
	</array>
	<key>tsInputMethodIconFileKey</key>
	<string>AppIcon.icns</string>
</dict>
</plist>
